.reviews_container {
   margin-top: 100px;
   margin-bottom: 7vw;

   @media screen and(max-width: 800px) {
      margin-top: 60px;
      margin-bottom: 12vw;
   }

   @media screen and(max-width: 475px) {
      margin-bottom: 20vw;
   }

   .custom_paging {
      display: flex;
      width: 1vw;
      height: 1vw;
      margin: 0 5px;
      border-radius: 50px;
      cursor: pointer;
      transition: transform .4s ease;

      &:hover {
         transition: transform .4s ease;
         transform: scale(1.2);
      }

      @media screen and(max-width: 650px) {
         width: 1.6vw;
         height: 1.6vw;
         margin: 0 10px;
      }

      @media screen and(max-width: 475px) {
         width: 3.3vw;
         height: 3.3vw;
         margin: 0 10px;
         margin-top: 20px;
      }
   }

   .reviews_title {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 50px;

      @media screen and(max-width: 650px) {
         margin-bottom: 30px;
      }

      @media screen and(max-width: 475px) {
         margin: 0;
         margin-bottom: 25px;
         width: 100%;
      }

      .reviews_title_h1 {
         font-family: 'Montserrat800';
         font-style: normal;
         font-size: 5vw;
         line-height: 73px;
         text-align: center;
         text-transform: uppercase;
         color: #0F1D2B;
         padding: 0 .7vw;
         background-color: #2D9CDB;
         margin-bottom: 2vw;

         @media screen and(max-width: 1200px) {
            // font-size: 55px;
         }

         @media screen and(max-width: 1024px) {
            line-height: 53px;
            font-size: 4vw;
         }

         @media screen and(max-width: 650px) {
            line-height: 40px;
            font-size: 4.7vw;
         }

         @media screen and(max-width: 600px) {
            font-size: 8.5vw;
         }

         @media screen and(max-width: 475px) {
            font-size: 11vw;
            margin: 0 auto;
         }
      }

      .reviews_title_p {
         font-family: 'Montserrat400';
         font-size: 2vw;
         line-height: 160%;
         text-align: center;
         color: #FFFFFF;
         margin-bottom: .5rem;

         @media screen and(max-width: 900px) {
            font-size: 1.7vw;
         }

         @media screen and(max-width: 650px) {
            font-size: 2.3vw;
         }

         @media screen and(max-width: 600px) {
            font-size: 4vw;
         }

         @media screen and(max-width: 475px) {
            font-size: 5.5vw;
            margin: 10px auto;
         }
      }

      .reviews_title_block {
         border: 3px solid #FFBC15;
         border-radius: 15px;
         padding: 1vw 2vw;

         @media screen and(max-width: 900px) {
            border: 2px solid #FFBC15;
            padding: .8vw 1.8vw;
         }

         @media screen and(max-width: 650px) {
            padding-top: .4vw;
         }

         @media screen and(max-width: 550px) {
            padding: 1.8vw 3vw;
            border-radius: 12px;
         }

         @media screen and(max-width: 475px) {
            border-radius: 12px;
            padding: 2vw 4vw;
         }

         @media screen and(max-width: 375px) {
            border-radius: 12px;
            padding: 1.5vw 3vw;
            text-align: center;
            width: 90%;
         }

         span {

            font-family: 'Montserrat700';
            font-size: 2vw;
            line-height: 160%;
            text-align: center;
            color: #fff;

            @media screen and(max-width: 900px) {
               font-size: 1.7vw;
            }

            @media screen and(max-width: 650px) {
               font-size: 2.2vw;
            }

            @media screen and(max-width: 550px) {
               font-size: 3vw;
            }

            @media screen and(max-width: 475px) {
               font-size: 3.7vw;
            }

            @media screen and(max-width: 375px) {
               font-size: 4.2vw;
            }

            &.reviews_title_block_span_yellow {
               color: #FFBC15;
            }
         }
      }
   }



   .reviews_slider {
      position: relative;



      div {
         height: 100%;

         div {
            height: 20vw;
            align-items: center;

            @media screen and(max-width: 600px) {
               height: 200px;
            }

            @media screen and(max-width: 375px) {
               height: 400px;
            }
         }
      }

      ul {
         display: flex;
         width: 100%;
         justify-content: center;
         padding: 0;

         li {
            list-style: none;
         }

         li {
            div {
               background-color: black;
            }
         }
      }

      .slider_wrapp {
         height: 100%;
         width: 100%;

         .slider_wrapp_img {
            height: 100%;
            width: 100%;
            padding: 0 1.2vw;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 16px;
            }

            @media screen and(max-width: 600px) {
               width: 100%;
               padding: 0 2vw;
            }

            @media screen and(max-width: 475px) {
               width: 95%;
               padding: 0 2vw;
            }

            @media screen and(max-width: 375px) {
               width: 100%;
               padding: 0 4vw;
            }
         }

         .reviews_slide {
            transition: all .3s ease;
            width: 100%;
            // margin: auto;
            // border: .5vw solid #fff;
            // border-radius: 14px;
         }

         .slide_desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 1.5vw;

            @media screen and(max-width: 375px) {
               margin-left: 2vw;
            }

            .slide_desc_cont {
               display: flex;
               align-items: center;
               margin-top: 16px;

               @media screen and(max-width: 800px) {
                  margin-top: 10px;
               }

               @media screen and(max-width: 650px) {
                  margin-top: 7px;
               }


               p {
                  margin: 0;
                  font-family: 'Montserrat400';
                  font-size: 1.1vw;
                  line-height: 160%;
                  color: #FFFFFF;

                  @media screen and(max-width: 650px) {
                     font-size: 1.8vw;
                  }

                  @media screen and(max-width: 550px) {
                     font-size: 2.3vw;
                  }

                  @media screen and(max-width: 475px) {
                     font-size: 3vw;
                  }

                  @media screen and(max-width: 375px) {
                     font-size: 4.2vw;
                  }
               }

               img {
                  margin-right: 20px;
                  height: 2vw;

                  @media screen and(max-width: 800px) {
                     margin-right: 10px;
                  }

                  @media screen and(max-width: 650px) {
                     height: 3.4vw;
                     margin-right: 5px;
                  }

                  @media screen and(max-width: 550px) {
                     height: 4.6vw;
                  }

                  @media screen and(max-width: 475px) {
                     height: 5.5vw;
                     margin-right: 7px;
                  }

                  @media screen and(max-width: 375px) {
                     height: 7.5vw;
                  }
               }
            }


         }

         .slide_after_slide {
            opacity: .4;
            width: 95%;

            @media screen and(max-width: 600px) {
               width: 60%;
               margin: 0;
               margin-left: auto;
            }
         }

         .slide_before_slide {
            opacity: .4;
            width: 95%;

            @media screen and(max-width: 600px) {
               width: 60%;
               margin: 0;
               margin-right: auto;
            }
         }
      }
   }

   .link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7%;
      text-decoration: none;

      @media screen and(max-width: 800px) {}

      @media screen and(max-width: 650px) {}
   }

}