.hero {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    height: 100%;
  }

  .hero_container {
    background: url("../../public/images/hero_back.png") 110% 100%/contain no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vw 15vw;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-height: 800px;
    width: 100%;

    @media screen and (max-width: 1100px) {
      padding: 2vw 12vw;
      max-height: 600px;
      background: url("../../public/images/hero_back.png") 120% 100%/contain no-repeat;
    }

    @media screen and (max-width: 1024px) {
      max-height: fit-content;
      height: 500px;
    }

    @media screen and (max-width: 900px) {
      height: 400px;
      padding: 10vw 9vw;
      background: url("../../public/images/hero_back.png") 110% 100%/contain no-repeat;
    }

    @media screen and (max-width: 768px) {
      background: url("../../public/images/hero_back.png") 120% 100%/contain no-repeat;

    }

    @media screen and (max-width: 650px) {
      // height: 250px; 
      // padding: 2vw 7vw;
      background: url("../../public/images/hero_back.png") 150% 100%/contain no-repeat;

    }

    @media screen and (max-width: 600px) {
      background: url("../../public/images/hero_back.png") 170% 100%/contain no-repeat;
    }

    @media screen and (max-width: 550px) {
      background: none;
      height: auto;
      padding: 0;
    }


    .hero_abs {
      position: absolute;
      top: 12vh;
      right: 260px;
      display: flex;

      @media screen and (max-width: 1100px) {
        top: 11vh;
        right: 29vh;
      }

      @media screen and (max-width: 1024px) {
        top: 7vh;
        right: 190px;
      }

      @media screen and (max-width: 900px) {
        top: 50px;
        right: 180px;
      }

      @media screen and (max-width: 768px) {
        top: 40px;
        right: 170px;
      }

      @media screen and (max-width: 650px) {
        // top: -2vh;
        right: 130px;
      }

      @media screen and (max-width: 600px) {
        // top: -1vh;
        // right: 240px;
      }


      @media screen and (max-width: 550px) {
        top: auto;
        bottom: 50%;
        right: 0;
        width: 100%;
      }

      @media screen and (max-width: 475px) {
        bottom: 54%;
      }

      @media screen and(max-width:375px) {
        bottom: 56%;
      }

      .hero_abs_text {
        padding: 10px 14px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 650px) {
          padding: 8px 12px;
        }

        @media screen and (max-width: 550px) {
          width: 80%;
          margin: 0 auto;
        }

        @media screen and (max-width: 375px) {
          width: 90%;
        }


        p,
        h2 {
          margin: 0;
          font-family: 'Montserrat400';
          font-size: 1.7vw;
          line-height: 126%;
          color: #FFFFFF;

          @media screen and (max-width: 900px) {
            font-size: 1.3vw;
          }

          @media screen and (max-width: 550px) {
            font-size: 3.1vw;
          }

          @media screen and (max-width: 475px) {
            font-size: 3.3vw;
          }

          @media screen and (max-width: 375px) {
            font-size: 4.3vw;
          }

        }

        h2 {
          color: #FFBC15;
          font-size: 1.5vw;

          @media screen and (max-width: 900px) {
            font-size: 1.5vw;
          }

          @media screen and (max-width: 550px) {
            font-size: 3.5vw;
          }

          @media screen and (max-width: 375px) {
            font-size: 4.5vw;
          }
        }
      }

      .hero_abs_line {
        height: 100px;
        right: -55px;
        top: 25px;
        position: absolute;

        @media screen and (max-width: 900px) {
          height: 80px;
          right: -45px;
        }

        @media screen and (max-width: 550px) {
          height: 70px;
          top: -67px;
          right: 100px;
        }

        img {
          height: 100%;
        }

        .hero_abs_line_1 {
          display: block;

          @media screen and (max-width: 550px) {
            display: none;
          }
        }

        .hero_abs_line_2 {
          display: none;

          @media screen and (max-width: 550px) {
            display: block;
          }
        }
      }
    }

    .hero_img_mobile {
      width: 100%;
      display: none;

      @media screen and (max-width: 550px) {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .hero_text {
      width: 60%;

      @media screen and(max-width:550px) {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 4vw;
      }

      @media screen and (min-width: 768px) {
        margin-top: 70px;
      }

      @media screen and(max-width:375px) {
        margin-top: 70px;
      }

      a:not([href]):not([class]) {
        @media screen and (max-width: 550px) {
          align-self: center;
        }
      }

      .hero_title {

        h1 {
          margin-bottom: 3px;
          font-family: "Montserrat700";
          font-size: 3vw;
          color: #FFFFFF;

          @media screen and (max-width: 650px) {
            // font-size: 3.5vw;
          }

          @media screen and (max-width: 600px) {
            // font-size: 4vw;
          }

          @media screen and (max-width: 550px) {
            font-size: 6vw;
          }

          @media screen and (max-width: 475px) {
            font-size: 6.5vw;
          }

          @media screen and (max-width: 375px) {
            font-size: 7vw;
          }

          span:first-of-type {
            padding: .3vw 1vw;
            background-color: #10A6F9;
            color: #0F1D2B;
          }

          span:last-of-type {
            padding: .3vw 1vw;
            background-color: #FFBC15;
            color: #0F1D2B;
          }
        }
      }

      p {
        width: 80%;
        margin: 20px 0 40px 0;
        font-family: "Montserrat700";
        font-size: 1vw;
        color: #FFFFFF;
        opacity: 0.7;

        @media screen and (max-width: 900px) {
          font-size: 1.2vw;
          margin: 15px 0 30px 0;
        }

        @media screen and (max-width: 650px) {
          // font-size: 1.5vw;
          // width: 60%;
        }

        @media screen and (max-width: 600px) {
          // font-size: 2vw;
          margin: 10px 0 20px 0;
        }

        @media screen and (max-width: 550px) {
          font-size: 3vw;
          width: 100%;
        }

        @media screen and (max-width: 475px) {
          font-size: 3.5vw;
          width: 100%;
        }

        @media screen and (max-width: 375px) {
          font-size: 4vw;
          width: 100%;
        }

      }

      .hero_target {
        font-size: 1.1vw;
        width: 80%;
        margin: 0 0 5vw;
        position: relative;
        color: #557797;

        @media screen and (max-width: 768px) {
          font-size: 11px;
        }

        @media screen and (max-width: 650px) {
          font-size: 9px;
          line-height: 10px;
        }

        @media screen and (max-width: 550px) {
          width: 100%;
          font-size: 13px;
          margin: 40px 0 60px;
        }

        @media screen and (max-width: 375px) {
          width: 100%;
          font-size: 12px;
          margin: 30px 0 50px;
        }

        .hero_target_over {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;


          .hero_target_over_end {
            display: flex;
            align-items: center;
            background: #152E47;
            border-radius: 11px;
            padding: .5vw .7vw;
            width: fit-content;
            right: -50px;
            position: relative;

            @media screen and (max-width: 1200px) {
              // width: 100px;
            }

            @media screen and (max-width: 768px) {
              padding: 5px 10px;
              // width: 90px;
            }

            @media screen and (max-width: 650px) {
              padding: 4px 8px;
              // width: 80px;
            }

            @media screen and (max-width: 550px) {
              padding: 8px 15px;
              // width: 110px;
              right: 0;
            }

            @media screen and (max-width: 475px) {
              padding: 7px 10px;
              width: auto;
              right: 0;
            }

            @media screen and (max-width: 375px) {
              padding: 6px 9px;
            }

            img {
              margin-right: 7px;

              @media screen and (max-width: 1024px) {
                margin-right: 5px;
              }

              &.hero_target_over_img_dollar {
                height: 25px;

                @media screen and (max-width: 1024px) {
                  height: 20px;
                }
              }

              &.hero_target_over_img_vest {
                height: 20px;
                margin-left: 2px;

                @media screen and (max-width: 1024px) {
                  height: 18px;
                }
              }
            }
          }
        }

        .hero_target_line {
          margin: 1vw 0;
          width: 100%;
          height: 4px;
          position: relative;
          display: block;
          background: #435d75;
          // opacity: 0.6; 
          border-radius: 26px;

          @media screen and (max-width: 1024px) {
            height: 3px;
          }

          @media screen and (max-width: 768px) {
            margin: 8px 0;
          }

          @media screen and (max-width: 550px) {
            margin: 13px 0;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 13px;
            height: 13px;
            background: #435d75;
            right: 0;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (max-width: 1024px) {
              width: 11px;
              height: 11px;
            }

            @media screen and (max-width: 550px) {
              width: 15px;
              height: 15px;
            }

            @media screen and (max-width: 475px) {
              width: 12px;
              height: 12px;
            }
          }
        }

        .hero_target_line_active {
          width: 40%;
          height: 4px;
          position: absolute;
          display: block;
          background: #FFBC15;
          top: 0;
          border-radius: 26px;

          @media screen and (max-width: 1024px) {
            height: 3px;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            background: #FFBC15;
            right: 0;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);


            @media screen and (max-width: 1024px) {
              width: 15px;
              height: 15px;
            }

            @media screen and (max-width: 550px) {
              width: 20px;
              height: 20px;
            }

            @media screen and (max-width: 475px) {
              width: 17px;
              height: 17px;
            }
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 13px;
            height: 13px;
            background: #FFBC15;
            left: 0;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (max-width: 1024px) {
              width: 11px;
              height: 11px;
            }

            @media screen and (max-width: 550px) {
              width: 15px;
              height: 15px;
            }

            @media screen and (max-width: 475px) {
              width: 12px;
              height: 12px;
            }
          }

          .hero_target_process {
            display: flex;
            align-items: center;
            background: #152E47;
            border-radius: 11px;
            padding: .5vw .7vw;
            width: auto;
            position: absolute;
            color: #fff;

            @media screen and (max-width: 1200px) {}

            @media screen and (max-width: 768px) {
              padding: 5px 10px;
            }

            @media screen and (max-width: 650px) {
              padding: 4px 8px;
            }

            @media screen and (max-width: 550px) {
              padding: 8px 15px;
            }

            @media screen and (max-width: 475px) {
              padding: 7px 10px;
              width: auto;
            }

            @media screen and (max-width: 375px) {
              padding: 6px 9px;
            }

            img {
              margin-right: 7px;

              @media screen and (max-width: 1024px) {
                margin-right: 3px;
              }

              &.hero_target_over_img_dollar {
                width: 25px;

                @media screen and (max-width: 1024px) {
                  width: 20px;
                }
              }

              &.hero_target_over_img_vest {
                width: 18px;
                height: 20px;
                margin-right: 8px;
                margin-left: 4px;

                @media screen and (max-width: 1024px) {
                  width: 14px;
                  height: 14px;
                  margin-right: 7px;
                }
              }
            }

            &.hero_target_process_first {
              top: -4vw;
              right: -3vw;

              @media screen and (max-width: 900px) {
                top: -4.7vw;
              }

              @media screen and (max-width: 768px) {
                top: -40px;
                right: -4.5vw;
              }

              @media screen and (max-width: 550px) {
                top: -50px;
                right: -7vw;
              }

              @media screen and (max-width: 475px) {
                right: -30px;
              }

              @media screen and (max-width: 375px) {
                top: -45px;
              }
            }

            &.hero_target_process_second {
              top: 1.5vw;
              right: -2vw;


              @media screen and (max-width: 900px) {
                top: 1.8vw;
              }

              @media screen and (max-width: 768px) {
                top: 15px;
                right: -3.5vw;
              }

              @media screen and (max-width: 550px) {
                top: 20px;
                right: -5.5vw;
              }

              @media screen and (max-width: 475px) {
                right: -20px;
              }

              @media screen and (max-width: 375px) {
                top: 15px;
              }
            }
          }
        }
      }
    }
  }
}