.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    height: 100%;
  }

  .hero_container {
    background: url("../../public/images/hero_back.png") 100% 100%/contain no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vw 15vw;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-height: 800px;
    width: 100%;

    @media screen and (max-width: 1100px) {
      padding: 2vw 12vw;
      max-height: 600px;
    }

    @media screen and (max-width: 1024px) {
      max-height: fit-content;
      height: 500px;
    }

    @media screen and (max-width: 900px) {
      height: 400px;
      padding: 2vw 9vw;
    }

    @media screen and (max-width: 650px) {
      height: 250px;
      padding: 2vw 7vw;
    }

    @media screen and (max-width: 600px) {
      height: 280px;
      padding: 2vw 7vw;
    }

    @media screen and (max-width: 550px) {
      background: none;
      height: auto;
      padding: 0;
    }


    .hero_abs {
      position: absolute;
      top: 14vh;
      right: 65vh;
      display: flex;

      @media screen and (max-width: 1100px) {
        top: 10vh;
        right: 53vh;
      }

      @media screen and (max-width: 1024px) {
        top: 7.5vh;
        right: 400px;
      }

      @media screen and (max-width: 900px) {
        top: 3vh;
        right: 320px;
      }

      @media screen and (max-width: 650px) {
        top: -2vh;
        right: 220px;
      }

      @media screen and (max-width: 600px) {
        top: -1vh;
        right: 240px;
      }


      @media screen and (max-width: 550px) {
        top: auto;
        bottom: 33%;
        right: 0;
        width: 100%;
      }

      @media screen and (max-width: 475px) {
        top: auto;
        bottom: 43%;
        right: 0;
        width: 100%;
      }

      @media screen and(max-width:375px) {
        bottom: 45%;
      }

      .hero_abs_text {
        padding: 10px 14px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 650px) {
          padding: 8px 12px;
        }

        @media screen and (max-width: 550px) {
          width: 80%;
          margin: 0 auto;
        }

        @media screen and (max-width: 375px) {
          width: 90%;
        }


        p,
        h2 {
          margin: 0;
          font-family: 'Montserrat400';
          font-size: 1.7vw;
          line-height: 126%;
          color: #FFFFFF;

          @media screen and (max-width: 900px) {
            font-size: 1.3vw;
          }

          @media screen and (max-width: 550px) {
            font-size: 3.1vw;
          }

          @media screen and (max-width: 475px) {
            font-size: 3.3vw;
          }

          @media screen and (max-width: 375px) {
            font-size: 4.3vw;
          }

        }

        h2 {
          color: #FFBC15;
          font-size: 1.5vw;

          @media screen and (max-width: 900px) {
            font-size: 1.5vw;
          }

          @media screen and (max-width: 550px) {
            font-size: 3.5vw;
          }

          @media screen and (max-width: 375px) {
            font-size: 4.5vw;
          }
        }
      }

      .hero_abs_line {
        height: 100px;
        right: -55px;
        top: 25px;
        position: absolute;

        @media screen and (max-width: 900px) {
          height: 80px;
          right: -45px;
        }

        @media screen and (max-width: 550px) {
          height: 70px;
          top: -67px;
          right: 100px;
        }

        img {
          height: 100%;
        }

        .hero_abs_line_1 {
          display: block;

          @media screen and (max-width: 550px) {
            display: none;
          }
        }

        .hero_abs_line_2 {
          display: none;

          @media screen and (max-width: 550px) {
            display: block;
          }
        }
      }
    }

    .hero_img_mobile {
      width: 100%;
      display: none;

      @media screen and (max-width: 550px) {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .hero_text {

      @media screen and(max-width:550px) {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 4vw;
      }

      @media screen and (min-width: 768px) {
        margin-top: 70px;
      }

      @media screen and(max-width:375px) {
        margin-top: 70px;
      }

      a:not([href]):not([class]) {
        @media screen and (max-width: 550px) {
          align-self: center;
        }
      }

      .hero_title {

        h1 {
          margin-bottom: 3px;
          font-family: "Montserrat700";
          font-size: 3vw;
          color: #FFFFFF;

          @media screen and (max-width: 650px) {
            font-size: 3.5vw;
          }

          @media screen and (max-width: 600px) {
            font-size: 4vw;
          }

          @media screen and (max-width: 550px) {
            font-size: 6vw;
          }

          @media screen and (max-width: 475px) {
            font-size: 6.5vw;
          }

          @media screen and (max-width: 375px) {
            font-size: 7vw;
          }

          span:first-of-type {
            padding: .3vw 1vw;
            background-color: #10A6F9;
            color: #0F1D2B;
          }

          span:last-of-type {
            padding: .3vw 1vw;
            background-color: #FFBC15;
            color: #0F1D2B;
          }
        }
      }

      p {
        width: 80%;
        margin: 20px 0 40px 0;
        font-family: "Montserrat700";
        font-size: 1vw;
        color: #FFFFFF;

        @media screen and (max-width: 900px) {
          font-size: 1.2vw;
          margin: 15px 0 30px 0;
        }

        @media screen and (max-width: 650px) {
          font-size: 1.5vw;
          width: 60%;
        }

        @media screen and (max-width: 600px) {
          font-size: 2vw;
          margin: 10px 0 20px 0;
        }

        @media screen and (max-width: 550px) {
          font-size: 3vw;
          width: 100%;
        }

        @media screen and (max-width: 475px) {
          font-size: 3.5vw;
          width: 100%;
        }

        @media screen and (max-width: 375px) {
          font-size: 4vw;
          width: 100%;
        }

      }
    }
  }
}