#levels {


   .levels_of_dody_container {
      padding: 5vw 15vw;
      width: 100%;
      background: #0F1D2B;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 768px) {
         flex-direction: column;
      }

      @media screen and (max-width: 650px) {
         padding: 4vw 13vw;
      }

      @media screen and (max-width: 550px) {
         padding: 4vw 4vw;
      }



      .levels_of_dody_title {
         font-family: 'Montserrat700';
         font-size: 3.5vw;
         line-height: 130.2%;
         text-align: center;
         color: #fff;
         margin-bottom: 40px;


         @media screen and (max-width: 650px) {
            font-size: 5vw;
            margin-bottom: 25px;
         }

         @media screen and (max-width: 550px) {
            font-size: 5.5vw;
         }

         @media screen and (max-width: 475px) {
            font-size: 6vw;
            margin-bottom: 25px;
         }

         @media screen and (max-width: 375px) {
            font-size: 8vw;
            margin-bottom: 10px;
         }

         span {
            padding: .3vw 1vw;
            background-color: #10A6F9;
            color: #0F1D2B;
         }
      }

      .levels_of_dody_body {
         display: flex;
         align-items: center;

         @media screen and (max-width: 650px) {
            flex-direction: column;
         }

         .images_vest {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;

            @media screen and (max-width: 650px) {
               width: 100%;
            }

            .images_vest_wrapp {
               @media screen and (max-width: 475px) {
                  width: 100%;
               }

               .images_vest_rating {
                  display: flex;
                  margin-bottom: 10px;
                  justify-content: center;


                  .images_vest_rating_img {
                     width: 4vw;
                     height: 4vw;

                     @media screen and(max-width: 650px) {
                        width: 7vw;
                        height: 7vw;
                        display: flex;
                        justify-content: center;
                     }

                     @media screen and(max-width: 475px) {
                        width: 9vw;
                        height: 9vw;
                        display: flex;
                        justify-content: center;
                     }

                     @media screen and (max-width: 375px) {
                        width: 12vw;
                     }


                     img {
                        width: 150%;
                        height: 150%;

                        @media screen and (max-width: 375px) {
                           width: 200%;
                           height: 200%;
                        }
                     }
                  }

               }

               .image_vest {
                  width: 24vw;

                  @media screen and (max-width: 650px) {
                     width: 45%;
                     margin: auto;
                  }

                  @media screen and (max-width: 475px) {
                     width: 60%;
                     margin: auto;
                  }

                  @media screen and (max-width: 375px) {
                     width: 70%;
                  }

                  img {
                     width: 100%;
                  }
               }
            }
         }

         .vest_choice_and_desc {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            @media screen and (max-width: 650px) {
               margin-left: 15px;
            }

            @media screen and (max-width: 550px) {
               margin-top: 15px;
            }

            .vest_choices {
               display: flex;

               .vest_choice {
                  border-radius: 13px;
                  border: 2px #57616B solid;
                  margin-right: 10px;
                  cursor: pointer;
                  transition: all .3s ease;

                  @media screen and (max-width: 800px) {
                     border: 1px #57616B solid;
                  }

                  @media screen and (max-width: 650px) {
                     width: 100%;
                     border: 1.5px #57616B solid;
                     border-radius: 9px;

                  }

                  &:hover {
                     transform: scale(1.1);
                     transition: all .3s ease;
                  }

                  p {
                     font-family: 'Montserrat600';
                     font-size: 1.5vw;
                     line-height: 130.2%;
                     text-align: center;
                     color: #878E95;
                     margin: 0;
                     padding: 8px 24px;

                     @media screen and (max-width: 800px) {
                        font-size: 1.5vw;
                        padding: 5px 20px;
                     }

                     @media screen and (max-width: 650px) {
                        font-size: 2vw;
                     }

                     @media screen and (max-width: 550px) {
                        font-size: 2.5vw;
                     }

                     @media screen and (max-width: 475px) {
                        font-size: 2.9vw;
                     }

                     @media screen and (max-width: 375px) {
                        font-size: 4vw;
                     }

                  }
               }
            }

            .vest_desc {
               margin-top: 30px;

               @media screen and (max-width: 800px) {
                  margin-top: 20px;
               }

               @media screen and (max-width: 650px) {
                  margin-top: 15px;
               }

               p {
                  font-family: 'Montserrat400';
                  font-size: 1.2vw;
                  line-height: 160%;
                  color: #FFFFFF;
                  opacity: 0.7;

                  @media screen and (max-width: 650px) {
                     font-size: 2vw;
                  }

                  @media screen and (max-width: 550px) {
                     font-size: 2.5vw;
                  }

                  @media screen and (max-width: 475px) {
                     font-size: 2.6vw;
                  }

                  @media screen and (max-width: 375px) {
                     font-size: 3.5vw;
                  }
               }
            }
         }
      }

   }

}